html{
    background-color: #FEF8E8;
}
h1{
    margin-top:0;
}
.logo{
    display:inline-block;
    color:#360F3C;
    font-size:20pt;
    font-family: Raleway;
    font-weight: bold;
    height:100px;
}
span{
    font-size:60pt;
}
.navigate{
    display:inline-block;
    background-color: #EEE8D8;
    margin-left:12rem;
    margin-right:14rem;
    height:40px;
    padding-top:6px;
    padding-bottom:6px;
    border-radius: 24px;
    margin-top:0px;
}
ul{
    padding-left:0;
    padding-right:0;
    margin:0px;
}
.signup{
    display:inline-block;
}
.signup-button{
    background-color:#FEF8E8;
    height:40px;
    border-radius :20px;
    width:100px;
    border-color: #D152C4;
    border-width:2px;
    color:#D152C4;
    font-family: Raleway;
    font-weight: bold;
    border-style:solid;
    

}
.signup-button:hover{
    background-color: #D152C4;
    color:#FEF8E8;
    border-color:#D152C4;
    border-style: solid;
}
.signup-button:focus{
    background-color: #82086f;
    color:#FEF8E8;
    border-color:#82086f;
}
.navigate li{
    list-style:none;
    padding-left:10px;
    padding-right:10px;
    float: left;
}
.content{
    width:50%;
}
.tab{
    background-color: #EEE8D8;
    height:40px;
    padding-left:10px;
    padding-right:10px;
    border: none;
    border-radius: 20px;
    font-family: Raleway;
    font-weight: bold;
    color:#452842;
}
.tab:hover{
    background-color:white;
    color:#D152C4;
    animation-delay: 3ms;

}
.tab:focus{
    background-color: whitesmoke;
    color:#D152C4;

}
.content h2{
    font-family: Raleway;
    font-size:45pt;
    color:#D152C4;
    margin-bottom:0;
}
.content p{
    font-family: Inter;
    font-size:12pt;
    color:rgb(90, 90, 90);
    line-height: 37px;
}
.content button{
    height:40px;
    width:150px;
    border-radius: 20px;
    background-color:#D152C4;
    color:white;
    border:none;
    font-family: Raleway;
    font-weight: bold;
}
.content button:hover{
    background-color: #FEF8E8;
    color:#D152C4;
    border-color:#D152C4;
    border-style: solid;
}
.content button:focus{
    background-color: #82086f;
    color:#FEF8E8;
    border-color:#82086f;
}